html{
  scroll-behavior: smooth;
}

section{
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

@keyframes blink{
  50%{
    opacity: 0;
  }
}

@keyframes blinkonce {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes bounce {
  0%{
    position: relative;
    bottom: 0rem;
  }
  50%{
    position: relative;
    bottom: 0.5rem;
  }
  100%{
    position: relative;
    bottom: 0rem;
  }
}

#section-1{
  background-image: url("../img/home_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#slogan{
  font-family: serif;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  display: flex;
  color: white;
  animation: blinkonce 5s linear;
}

#slogan p{
  margin: 0px ;
  background: rgba(0,0,0,0.5);
  border-radius: 1rem;
}

.arrow{
  animation: blink 5s linear infinite;
}

#navbar{
  text-shadow: 0 1rem 1rem rgba(255,255,255,0.5)!important;
  background: rgba(0,0,0,0.2);
  border-radius: 0rem 0rem 3rem 3rem;
}

#links-of-navbar{
  display: flex;
}

#logo, a{
  color: white !important;
  font-family: serif;
  font-size: 1.5rem;
}

#logo{
  font-size: 3rem;
}

a{
  transition: transform 2s linear;
}

a:hover{
  opacity: 1;
  text-decoration: none !important;
  transform: scale3d(1.2,1.2,1.2);
  z-index: 1;
}

.jumbotron{
  color: white;
  margin-bottom: 0px !important;
  background: rgba(0,0,0,0.5) !important;
  margin: auto;
}

#section-2{
  background: rgb(139 69 19 / 84%);
  display: flex;
}

#best-coffee{
  display: flex;
  align-items: center;
  object-fit: cover;
  word-wrap: break-word;
  width: 20rem;
  height: 100vh;
  margin-left: 0px;
}

#section-2-header{
  color: white !important;
  font-family: serif;
  font-size: 3rem;
  margin: 0 !important;

}

#coffee-images{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#preferred-coffee{
  color: white !important;
  font-family: serif;
  font-size: 3rem;
  animation: blink 2s linear infinite;
}

#three-coffee{
  display: flex;
  flex-direction: row;
}

#three-coffee a{
  margin: 0.5rem;
}

#three-coffee a img{
  min-width:100%;
  min-height:100%;
  object-fit: cover;
}

.card{
  background-color: transparent !important;
  border: none !important;
  box-shadow: 0 1rem 3rem rgba(0,0,0,1)!important;
}

#contact-section{
  display: flex;
  flex-direction: column;
  background-image: url("../img/contact_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-div{
  animation: blinkonce 2s linear;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;

}

#contact-div .container-lg{
  background: rgba(0, 0, 0, 0.5)!important;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#location-div, #telephone-div, #mail-div{
  display: flex;
  justify-content: space-between;
}

#location-div, #telephone-div{
  margin-bottom: 1.75rem;
}

#location-p, #telephone-p, #mail-p{
  font-family: serif;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

#location-svg, #telephone-svg, #mail-svg{
  animation: bounce 2s linear infinite;
}

.container-lg{
  margin-bottom: 0px !important;
}
